extends layout

block content
    h3.text-center Login
    .col-lg-8.offset-lg-2
        form(method='post', action='/users/login')
            .form-group
                label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', name='email')
                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password', placeholder='Password', name='pass')
            .form-group.text-center
                button.btn.btn-primary(type='submit') Login
